<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class = 'containerrow'>
            This is the dashboard for
        </div>
        <div class = "containerrow">
            Username : <%=username%>
        </div>
        <div class= "containerrow">
            Id : <%=id%>
        </div>    
        <div class="containerrow">
            <form method="post" action="users/logout">
                <input type="submit" value="Logout">
            </form>    
        </div>
        
    </div>
    
    

</body>
</html>